@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
.e-verification-wrp {
  width: 100%;
  height: 100vh;
  background: url("../img/black-mesh-radius.png") no-repeat top center #000;
  padding-top: 146px;
  position: relative;
}
.e-verification-wrp::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("../img/green-radius-bg.svg") no-repeat center top;
}
@media (max-width: 1679px) {
  .e-verification-wrp {
    padding-top: 136px;
  }
}
@media (max-width: 1481px) {
  .e-verification-wrp {
    padding-top: 126px;
  }
}
@media (max-width: 1481px) {
  .e-verification-wrp {
    padding-top: 126px;
  }
}
.e-verification-wrp .verification-outer {
  max-width: 620px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
@media (max-width: 991px) {
  .e-verification-wrp .verification-outer {
    padding: 0 20px;
  }
}
.e-verification-wrp .verification-outer .brand-hanger {
  margin-bottom: 40px;
}
@media (max-width: 1679px) {
  .e-verification-wrp .verification-outer .brand-hanger {
    margin-bottom: 35px;
  }
}
@media (max-width: 1481px) {
  .e-verification-wrp .verification-outer .brand-hanger {
    margin-bottom: 30px;
  }
}
.e-verification-wrp .verification-outer .block-title {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 1679px) {
  .e-verification-wrp .verification-outer .block-title {
    font-size: 20px;
    line-height: 26px;
  }
}
@media (max-width: 1481px) {
  .e-verification-wrp .verification-outer .block-title {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 991px) {
  .e-verification-wrp .verification-outer .block-title {
    margin-bottom: 15px;
  }
}
.e-verification-wrp .verification-outer .link {
  color: #A0FF00;
  text-decoration: none;
  cursor: pointer;
}
.e-verification-wrp .verification-outer .info-txt {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 30px;
  color: rgba(220, 214, 247, 0.6980392157);
}
@media (max-width: 991px) {
  .e-verification-wrp .verification-outer .info-txt br {
    display: none;
  }
}
.e-verification-wrp .verification-outer .input-wrp {
  max-width: 416px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.e-verification-wrp .verification-outer .input-wrp .otp-input {
  width: 61px;
  height: 60px;
  background: linear-gradient(0deg, rgba(220, 214, 247, 0.02), rgba(220, 214, 247, 0.02)), linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  border: 0.5px solid rgba(255, 255, 255, 0.1019607843);
  margin-left: 10px;
  padding: 16px, 26px, 16px, 26px;
  border-radius: 8px;
  text-align: center;
  color: #9C9C9C;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}
@media (max-width: 1679px) {
  .e-verification-wrp .verification-outer .input-wrp .otp-input {
    width: 56px;
    height: 55px;
    font-size: 20px;
    line-height: 26px;
  }
}
@media (max-width: 991px) {
  .e-verification-wrp .verification-outer .input-wrp .otp-input {
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 24px;
  }
}
.e-verification-wrp .verification-outer .input-wrp .otp-input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(160, 255, 0, 0.5);
}
.e-verification-wrp .verification-outer .input-wrp .otp-input:first-child {
  margin-left: 0px;
}
.e-verification-wrp .verification-outer .input-wrp .otp-input.error {
  border-color: #FF3B3B;
  margin-top: 0;
}
.e-verification-wrp .verification-outer .error {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #FF3B3B;
  margin-top: 30px;
  padding-left: 38px;
  position: relative;
}
@media (max-width: 991px) {
  .e-verification-wrp .verification-outer .error {
    margin-top: 20px;
    padding-left: 25px;
  }
}
.e-verification-wrp .verification-outer .error::before {
  content: "";
  width: 15px;
  height: 15px;
  background: url(../img/info-circle.svg) no-repeat center;
  position: absolute;
  left: 12px;
  top: 0px;
}
@media (max-width: 991px) {
  .e-verification-wrp .verification-outer .error::before {
    left: 0px;
  }
}
.e-verification-wrp .verification-outer .dont-have-account {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #9C9C9C;
  margin-top: 50px;
}
@media (max-width: 1679px) {
  .e-verification-wrp .verification-outer .dont-have-account {
    margin-top: 40px;
  }
}
@media (max-width: 1481px) {
  .e-verification-wrp .verification-outer .dont-have-account {
    margin-top: 35px;
  }
}
@media (max-width: 1441px) {
  .e-verification-wrp .verification-outer .dont-have-account {
    margin-top: 30px;
  }
}
@media (max-width: 1199px) {
  .e-verification-wrp .verification-outer .dont-have-account {
    margin-top: 25px;
  }
}
@media (max-width: 991px) {
  .e-verification-wrp .verification-outer .dont-have-account {
    margin-top: 20px;
  }
}
.e-verification-wrp .verification-outer .form-wrap {
  max-width: 340px;
  width: 100%;
}
.e-verification-wrp .verification-outer .inp-grp {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 16px;
  box-shadow: 0px 4px 80px 0px rgb(0, 0, 0);
}
.e-verification-wrp .verification-outer .inp-grp .grp-head {
  border-radius: 4px 0 0 4px;
  width: 44px;
  display: flex;
  flex-shrink: 0;
  border: 0.5px solid rgba(220, 214, 247, 0.1019607843);
  background: linear-gradient(0deg, rgba(220, 214, 247, 0), rgba(220, 214, 247, 0)), linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02));
  color: rgba(255, 255, 255, 0.5);
  padding: 12px 0px 12px 14px;
}
.e-verification-wrp .verification-outer .inp-grp .grp-head:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(160, 255, 0, 0.5);
}
.e-verification-wrp .verification-outer .inp-grp .form-control {
  width: 100%;
  height: 40px;
  border-radius: 0 4px 4px 0;
  padding: 11px 12px;
  background: linear-gradient(0deg, rgba(220, 214, 247, 0), rgba(220, 214, 247, 0)), linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02));
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  border: 0.5px solid rgba(220, 214, 247, 0.1019607843);
  color: rgba(255, 255, 255, 0.5);
  padding-left: 14px;
  border-left: none;
}
.e-verification-wrp .verification-outer .inp-grp .form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(160, 255, 0, 0.5);
}
.e-verification-wrp .verification-outer .inp-grp .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.12);
}
.e-verification-wrp .verification-outer .inp-grp .form-control::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.12);
}
.e-verification-wrp .verification-outer .btn-login {
  background-color: #A0FF00;
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  display: flex;
  border: none;
  width: 100%;
  border-radius: 4px;
  padding: 12px, 24px, 12px, 24px;
  align-items: center;
  justify-content: center;
  height: 40px;
  transition: 0.75s;
}
.e-verification-wrp .verification-outer .btn-login:hover {
  box-shadow: 0px 0px 0px 2.5px #000, 0px 0px 0px 5px #A0FF00, 0px 0px 0px 10px #000, 0px 0px 0px 10.5px #A0FF00;
  background: #000 !important;
  color: #A0FF00 !important;
}
.e-verification-wrp .verification-outer.two-fa .info-txt {
  margin-bottom: 18px;
}
.e-verification-wrp .verification-outer .two-factor-listing {
  max-width: 395px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.e-verification-wrp .verification-outer .two-factor-listing .auth-list {
  background: linear-gradient(0deg, #0C090A, #0C090A), linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 80px 0px rgb(0, 0, 0);
  padding: 16px 20px 16px 20px;
  border-radius: 8px;
  margin-top: 12px;
}
.e-verification-wrp .verification-outer .two-factor-listing .auth-list .title {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 10px;
}
.e-verification-wrp .verification-outer .two-factor-listing .auth-list .title .icon {
  margin-right: 8px;
}
.e-verification-wrp .verification-outer .two-factor-listing .auth-list .info {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(123, 123, 123);
}
.e-verification-wrp .verification-outer .skip-btn {
  color: rgb(160, 255, 0);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  padding: 12px 24px 12px 24px;
  text-decoration: none;
  margin-top: 40px;
}