@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
.login-wrp {
  width: 100%;
  height: 100vh;
  background-color: #000;
  padding-top: 146px;
}
.login-wrp .floating-wrp {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 479px) {
  .login-wrp .floating-wrp {
    max-width: 90%;
  }
}
.login-wrp .floating-wrp .brand-hanger {
  margin-bottom: 70px;
}
@media (max-width: 1679px) {
  .login-wrp .floating-wrp .brand-hanger {
    margin-bottom: 60px;
  }
}
@media (max-width: 1481px) {
  .login-wrp .floating-wrp .brand-hanger {
    margin-bottom: 50px;
  }
}
@media (max-width: 1281px) {
  .login-wrp .floating-wrp .brand-hanger {
    margin-bottom: 40px;
  }
}
.login-wrp .floating-wrp .login-area {
  width: 100%;
  padding: 30px;
  background: linear-gradient(0deg, #0C090A, #0C090A), linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  border: 0.5px solid linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 4px 80px 0px #000000;
  border-radius: 8px;
  position: relative;
}
.login-wrp .floating-wrp .login-area::before {
  content: "";
  background: radial-gradient(75.77% 2198877.69% at 50% 49.82%, #A0FF00 0%, rgba(160, 255, 0, 0) 100%);
  position: absolute;
  height: 1px;
  width: 252px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.login-wrp .floating-wrp .login-area .brand {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.login-wrp .floating-wrp .login-area .brand img {
  max-height: 24px;
}
.login-wrp .floating-wrp .login-area .form-wrp {
  position: relative;
  margin-bottom: 16px;
}
.login-wrp .floating-wrp .login-area .form-wrp .form-control {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding: 11px 12px;
  background: linear-gradient(0deg, rgba(220, 214, 247, 0), rgba(220, 214, 247, 0)), linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02));
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  border: 0.5px solid rgba(220, 214, 247, 0.1019607843);
  color: #ccc;
  padding-left: 37px;
}
.login-wrp .floating-wrp .login-area .form-wrp .form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(160, 255, 0, 0.5);
}
.login-wrp .floating-wrp .login-area .form-wrp .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.12);
}
.login-wrp .floating-wrp .login-area .form-wrp .form-control::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.12);
}
.login-wrp .floating-wrp .login-area .form-wrp.usr::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 11px;
  background: url(../img/profile-circle.svg) no-repeat center;
}
.login-wrp .floating-wrp .login-area .form-wrp.pwd::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 11px;
  background: url(../img/lock.svg) no-repeat center;
  opacity: 0.5;
}
.login-wrp .floating-wrp .login-area .error {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #FF3B3B;
  margin-top: 15px;
  padding-left: 38px;
  position: relative;
}
.login-wrp .floating-wrp .login-area .error::before {
  content: "";
  width: 15px;
  height: 15px;
  background: url(../img/info-circle.svg) no-repeat center;
  position: absolute;
  left: 12px;
  top: 0px;
}
.login-wrp .floating-wrp .login-area .forget-blk {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.login-wrp .floating-wrp .login-area .forget-blk .forget-pwd {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
}
.login-wrp .floating-wrp .login-area .btn-login {
  background-color: #A0FF00;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  display: flex;
  border: none;
  width: 100%;
  border-radius: 4px;
  padding: 12px, 24px, 12px, 24px;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.login-wrp .floating-wrp .login-area .dont-have-account {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.login-wrp .floating-wrp .login-area .dont-have-account .link {
  color: #A0FF00;
  text-decoration: none;
  display: inline-block;
  margin-left: 5px;
}