@import 'partials/partials';
$title-color:#DCD6F7;
$primary-color:#000;
$green:#A0FF00;
$box-bg:linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)),
linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02));


body{
    background-color: $primary-color;
}
.main-title{

font-family: $font-primary;
color:$title-color ;
font-size: 30px;
@media($sm-1679){
    font-size: 22px;
}
@media($sm-1441){
    font-size: 22px;
}

font-weight: 500;
line-height: 28px;
letter-spacing: 0px;


}
.title{
font-family: $font-primary;
font-size: 17px;
@media($sm-1679){
    font-size: 14px;
}
@media($sm-1441){
    font-size: 13px;
}


font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
color: $title-color;

}
.sub-title{
font-family: $font-primary;
font-size: 16px;
@media($sm-1679){
    font-size: 12px;
}
@media($sm-1441){
    font-size: 12px;
}

font-weight: 400;
line-height: 16px;
color: $title-color;
letter-spacing: 0px;
color: $title-color;

}
.live-stream{
    padding: 50px 0px;
    .title-sec{
        padding-bottom: 20px;
        @media($sm-991){
            padding-bottom: 0px;
        }
    }
    .three-col-sec{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @media($sm-1281){
            justify-content: center;
        }

        .slick-dots {
            display: flex;
            justify-content: center;
            
            margin: 0;
            padding-top: 20px;
            
            list-style-type: none;
            
                li {
                    margin: 0 0.25rem;
                }
            
                button {
                    display: block;
                    width: 8px;
                    height: 8px;
                    padding: 0;
                    
                    border: none;
                    border-radius: 100%;
                    background-color:$green;
                    opacity: 10%;
                    
                    text-indent: -9999px;
                }
            
                li.slick-active button {
                    background-color:$green;
                    opacity: 100%;
                }
            
        }
    }

    
    .box {
        border: 1px solid #FFFFFF14;
        background-color: #000;
        width: calc(33.3333333333% - 20px);
        border-radius: 20px;
        // padding: 20px;
        margin-bottom: 30px;
        @media($sm-1281)
        {
            margin: 0px 10px;
        }
        @media($sm-991){
            margin: 0px 10px;
        }
        .live-video{
            position: relative;
         
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)),
            linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04));
            .video{
                border-radius: 0;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
            @media($sm-1679){
                height: 198px;
            }
            @media($sm-1441){
                height: 198px;
            }
          
            height: 250px;
            padding: 20px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
           

            .video-top{
                display: flex;
            }
            .play-button {
                @media($sm-1679){
                    padding-top: 40px;
                }
                @media($sm-1441){
                    padding-top: 40px;
                }
               
                padding-top: 70px;
                justify-content: center;
                display: flex;
            }
            .live{
                background-color:#FF3B3B;
                width: 100px;
                padding: 10px 20px 10px 20px;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                
           &.watch-count{
            border: 0.5px solid #FFFFFF1A;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
            linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04));
            margin-left: 10px;
            .eye-img{
                
                    height: 10px;
                    width: 14px;
                    margin-top: -19px;
                    margin-right: 4px;
                
                    @media($sm-991){
                        margin-top: -5px;
                    }
            }

           }
           
           
            .status{
                width: 8px;
                height: 8px;
                border-radius: 50%;
                display: inline-block;
                background-color:$white;
                margin-right: 10px;
            }
        }
    }

    .video-details{
        @media($sm-1679){
            padding: 20px;
        }
        @media($sm-1441){
            padding: 20px;
        }
       
        
        padding: 30px 20px;
        .owner-name{
            margin-top: 20px;
            @media($sm-1679){
                margin-top: 10px;
            }
            @media($sm-1441){
                margin-top: 10px;
            }
           
           
            display: flex;
            align-items: center;
        }
        .owner-img{
            padding-right: 10px;
        }
        .tags{
            margin-top: 20px;
            @media($sm-1441){
                margin-top: 10px;
            }
           
            .tag-item{
                // font-family: $font-primary;
                // font-size: 12px;
                // font-weight: 500;
                // line-height: 16px;
                // letter-spacing: 0px;
                // text-align: left;
                @media($sm-1679){
                    padding: 4px 10px;
                }
                @media($sm-1441){
                    padding: 4px 10px;
                }
                padding: 6px 15px;
              background-color: #DCD6F70F;
              text-decoration: none;
              color: $title-color;
              border-radius: 100px;

              @media($sm-767){
                font-size: 10px;
              }

            }
        }
    }
    }
       
}

.show-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    @media($sm-991){
        display: none !important;
    }

    .btn-show{
        color:#A0FF00;
        background-color: #FFFFFF0A;
        padding: 15px 30px;
        border-radius: 100px;
        @media($sm-1679){
            padding: 10px 30px;
        }
        @media($sm-1441){
            padding: 10px 30px;
        }
        @media($sm-1281){
            padding: 10px 30px;
        }
        .dwn-arrow{
            margin-left: 10px;
        }
        
    }

    .lines{

        width: 44%;
        @media($sm-1679){
            width: 40%;
        }
        @media($sm-1441){
            width:43%;
        }
        @media($sm-1281){
            width: 36%;
        }
        background-color: #FFFFFF14;
        height:1px;
    }
}
a{
    text-decoration: none;
}
.mob-slider1{
    .slick-list{padding:0 20% 0 0 !important;}
}
.demos{
    padding-bottom: 50px;
    .title-sec{
        margin-bottom: 20px;
    }
    .box-sec{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
       
       
        .inner-box-sec {
            border: 1px solid #FFFFFF14;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)),
            linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02));
            width: calc(16.6666% - 10px);
            border-radius: 20px;
            padding: 20px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media($sm-1679){
                width: calc(16.6666% - 20px);
            }
            @media($sm-1441){
                width: calc(16.6666% - 10px);
            }
            @media($sm-1281){
            margin: 0px 10px;
            }
            .logo1{
                margin-bottom: 20px;
            }
            .title{
                padding-bottom: 20px;
            }
            .aws-img{
                margin-bottom: 20px;
            }
           
        }
    }
    .demo-btn{
        display: flex;
        align-items: center;
        padding: 10px 18px;
        .arrow-mob{
            display: none;
        }
        .text{
            margin-right: 5px;
        }
        &:hover{
            background-color: $green;
            color: #000;
            border-radius: 6px;
           
           font-weight: 500;

           .arrow-desk{
            display: none;
           }
           .arrow-mob{
            display: block;
        }
        }
    }
}
.video{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    border-radius: 20px;
}

.featured-stream{
    padding-bottom: 50px;
    .main-title{
        padding-bottom: 20px;
    }
    .four-col{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .black-box{
            @media($sm-1281){
                margin: 0px 10px;
            }
           background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)),
            linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03));
            border-radius: 20px;
            height: 260px;
            border: 1px solid #FFFFFF14;
            width: calc(25% - 20px);
            padding: 20px;
            position: relative;
            margin-bottom: 30px;
            .video-name{
                padding-bottom: 10px;
                width: 210px; /* Adjust the width as needed */
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                @media($sm-1281){
                    width:100px
                }
            }
            .owner-name{
                display: flex;
                align-items: center;
            }
            .owner-img{
                margin-right: 5px;
            }
            .play-button{
                position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
            }
        }
    }
}
.content-outer{
    flex: 1 1 auto;
    transition: 0.3s;
    max-width: calc(100% - 50px);
    margin: 0 auto;
    padding: 15px;
    // max-width: 1800px;
    margin: 0 auto;
    margin-left: 66px;

    @media($sm-991){
        margin-left: 0;
        max-width: 100%;
    }
}